%div
  .card.mb-2
    .card-header
      Country / Other Stats
    .card-body
      = render partial: "countries_table", locals: { countries_corona_data: countries_corona_data }
%div
  .card.mb-2
    .card-header
      World Map of Cases
    .card-body
      = render partial: "map", locals: { map_data: countries_corona_data.map_data }
