.row
  .col-xs-12.col-lg-8
    .card.mb-2
      .card-header
        Country / Other Stats
      .card-body
        = render partial: "countries_table", locals: { data: corona_data }

  .col-xs-12.col-lg-4
    .card.mb-2
      .card-header
        World Map of Cases
      .card-body
        -# = render partial: "map", locals: { map_data: countries.map_data }
