.container
  .card
    .card-body
      = select_tag('',
                  options_for_select((countries.for_select.map { |c| [c.name, c.alpha2, {"data-attribute-lookup": c.unofficial_names}] }), selected),
                  prompt: "",
                  class: "select2")

:javascript
  var argumentsFromServer = {
  returnPath: "#{corona_country_path}"
  };

  $(document).ready(function() {
    CountrySelect.init().bindEvents();
  });
