.container
  .card
    .card-body
      = select_tag('',
                  options_for_select(countries.for_select, selected&.upcase),
                  prompt: "",
                  class: "select2")

:javascript
  var argumentsFromServer = {
  returnPath: "#{corona_country_path}"
  };

  $(document).ready(function() {
    CountrySelect.init().bindEvents();
  });
