.row
  .col-md-12.col-xl-7
    .card.mb-2
      .card-header
        State or Province Stats
      .card-content
        = render partial: "state_or_province_table", locals: { state_or_province_corona_data: state_or_province_corona_data }

  .col-md-12.col-xl-5
    .card.mb-2
      .card-header
        Map of Cases
      .card-content
        = render partial: "state_or_province_map", locals: { map_data: state_or_province_corona_data.map_data_for_state_or_province }
