.row
  .col-md-8
    = render_async corona_global_time_series_stats_path_path

  .col-md-4
    .card.mb-2
      .card-header
        Recovery vs Mortality Rate
      .card-body
        = render partial: "pie_chart", locals: { chart_data: pie_chart_data }