#time-series-comparisons-container{style: 'height:350px; width:100%'}

:javascript
  $(document).ready(function() {
      TimeSeries.initChart(JSON.parse('#{raw(chart_data.to_json)}'), "time-series-comparisons-container");
  });
