.row.mb-3
  .col-xs-12.col.sm-12.col-md.mb-3
    .card
      .card-header
        Time Series
      .card-content.text-white
        = render partial: "time_series_chart", locals: { chart_data: time_series.time_series_chart_data,
                                                          selector: "time-series-counts" }

  .col-xs-12.col.sm-12.col-md.mb-3
    .card
      .card-header
        Mortality vs Recovery Rate
      .card-content.text-white
        = render partial: "time_series_chart", locals: { chart_data: time_series.mortality_vs_recovery_chart_data,
                                                          selector: "time-series-comparisons-container" }
