.row
  .col-md
    .card.mb-2
      .card-header
        Time Series Counts
      .card-body
        = render partial: "time_series_counts", locals: { chart_data: counts_chart_data }
    .col-md
      .card.mb-2
        .card-header
          Recovery vs Mortality Rate
        .card-body
          = render partial: "time_series_comparisons", locals: { chart_data: comparisons_chart_data }