document.addEventListener('turbolinks:load', function(event) {
  if (typeof gtag === 'function') {
    gtag('config', '#{ENV["G_ANALYTICS_CODE"]}'), {
      'page_location': event.data.url
    })
  }
})
