table.dataTable.table-striped.DTFC_Cloned tbody tr:nth-of-type(even) {
  background-color: #343a40;
}

table.dataTable.table-striped.DTFC_Cloned th {
  background-color: #343a40;
}

th, td {
  font-size: 0.8rem;
  text-align: center;
}
