%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  %a.navbar-brand{href: "#"} Corona Track
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  .d-none
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %select.custom-select
            %option{selected: "selected"} Open this select menu
            %option{value: "1"} One
            %option{value: "2"} Two
            %option{value: "3"} Three
        %li.nav-item.ml-2
          %select.custom-select
            %option{selected: "selected"} Open this select menu
            %option{value: "1"} One
            %option{value: "2"} Two
            %option{value: "3"} Three